@model Quiron.LojaVirtual.Dominio.Entidades.Produto

<div class="well">
    <h3><strong><font color="red">@Model.Nome</font></strong></h3>

    <h3><span class="pull-right label label-primary">@Model.Preco.ToString("c")</span></h3>

    <h2><span class="lead">@Model.Descricao</span></h2>
       
</div>
